@model TaskUpdateVM

<h2>Görev Güncelle</h2>

<form asp-action="Update" method="post" onsubmit="return confirm('Değişiklikleri kaydetmek istediğinize emin misiniz?');">
    <div class="form-group">
        <label asp-for="TaskUpdateDto.TaskName" class="control-label">Görev Adı</label>
        <input asp-for="TaskUpdateDto.TaskName" class="form-control" />
        <span asp-validation-for="TaskUpdateDto.TaskName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TaskUpdateDto.DepartmentId" class="control-label">Departman Adı</label>
        <select asp-for="TaskUpdateDto.DepartmentId" class="form-control" asp-items="Model.DepartmentList"></select>
        <span asp-validation-for="TaskUpdateDto.DepartmentId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TaskUpdateDto.AsaignedUserId" class="control-label">Atanacak Kişi</label>
        <select asp-for="TaskUpdateDto.AsaignedUserId" class="form-control" asp-items="Model.UserList"></select>
        <span asp-validation-for="TaskUpdateDto.AsaignedUserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TaskUpdateDto.Status" class="control-label">Görev Durumu</label>
        <select asp-for="TaskUpdateDto.Status" class="form-control">
            <option value="0">Beklemede</option>
            <option value="1">Tamamlandı</option>
            <option value="2">Reddedildi</option>
        </select>
        <span asp-validation-for="TaskUpdateDto.Status" class="text-danger"></span>
    </div>

    <!-- Id'leri gizli alanlarda tutuyoruz -->
    <input type="hidden" asp-for="TaskUpdateDto.Id" />
    <input type="hidden" asp-for="TaskUpdateDto.CreaterUserId" />


    <div class="form-group">
        <input type="submit" value="Görev Güncelle" class="btn btn-secondary" />
    </div>
</form>